/* ============ reset all margin and padding also applying font family root ============ */
/* ============ componen default settings start ============ */

.header {
	font-size: 36px;
	font-weight: bold;
	line-height: 150%;
	color: #000000;
}

.sub_header {
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	color: #000000;
}

.text {
	font-size: 14px;
	font-weight: lighter;
	line-height: 20px;
	color: #000000;
}

.text_reguler {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.text_bold {
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
}

.buttons {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #ffff;
	background-color: #5cb85f;
	border: none;
	border-radius: 2px;
	padding: 10px 18px 10px 18px;
	font-weight: bold;
	transition: 0.3s ease-in-out;
	text-transform: capitalize;
}

/* ============ Footer  start ============ */

.navbar_container {
	margin: 0;
}

.navbar {
	background-color: #f1f3ff;
}

.navbar_left {
	margin-left: 0px;
}

.btn_navbar {
	background-color: #5cb85f;
	border: none;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	text-transform: capitalize;
	color: #ffff;
	font-size: 16px;
	transition: 0.3s ease-in-out;
	margin-left: 30px;
}

.btn_navbar:hover {
	background-color: #42e947;
	color: rgb(45, 44, 44);
}

.image_navbar {
	width: 200px;
	height: auto;
}

.navbar_groups {
	justify-content: end;
	margin-right: 125px;
	margin-top: 15px;
	padding-bottom: 35px;
}

/* ============ navbar end ============ */

.ticket_bg {
	background-color: #f1f3ff;
	padding: 15px 15px 15px 50px;
}

.ticket_arrow {
	width: 25px;
	height: auto;
}

.ticket_sub_header {
	margin-top: 10px;
	margin-left: 15px;
}

.ticket_right {
	width: 40%;
	padding: 0;
}

.ticket_centang {
	width: 10%;
}

.ticket_text_right > p {
	margin-top: 26px;
}

.ticket_line {
	width: 30%;
	height: 2px;
	background-color: #0d28a6;
	margin: 37px 10px 0px 25px;
}

.ticket_line_2 {
	width: 55%;
	height: 2px;
	background-color: #0d28a6;
	margin: 37px 10px 0px 25px;
}

.ticket_main_content {
	margin-top: 100px;
	padding-bottom: 100px;
}

.ticket_icon_success {
	margin-bottom: 20px;
}

.ticket_upload {
	border: 1px solid #d0d0d0;
	padding: 10px 0px 0px 0px;
	border-radius: 5px;
	margin-top: 50px;
}

.ticket_invoice {
	padding-top: 10px;
	padding-left: 20px;
}

.ticket_btn {
	margin-top: -40px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #0d28a6;
}

.ticket_btn > img {
	margin: 0 5px;
}

.ticket_input {
	background-color: rgb(208, 208, 208, 0.3);
	padding: 100px;
}
