
.blue_logo {
	width: 110px;
	height: 30px;
	background-color: #1439de;
	margin: 5px 0px 0px 80px;
	border-radius: 3px;
}

.nav {
	padding-right: 15px;
	font-size: 18px;
	line-height: 20%;
    font-weight: 500;
}
.nav-link {
    padding: 20px;
}
.navbar_container {
	margin: 0;
    overflow-x: hidden;
}

.navbar_bg {
	background-color: #f1f3ff;
    padding: 20px 10px;
    margin-right: -50px;
}

.navbar_left {
	margin-left: 0px;
}

.btn_navbar {
	background-color: #5cb85f;
	border: none;
    border-radius: 5px;
	padding: 10px 20px 10px 20px;
	text-transform: capitalize;
	color: #ffff;
	font-size: 16px;
	transition: 0.3s ease-in-out;
	margin-left: 30px;
}

.btn_navbar:hover {
    background-color:#129218;
    color: white;
}

.image_navbar {
	width: 200px;
	height: auto;
}

.navbar_groups {
	justify-content: end;
	margin-right: 125px;
	margin-top: 15px;
}
/* ============ navbarS ============ */

@media screen and (max-width: 576px) {
	.image_navbar {
		width: 175px;
		height: auto;
	}

	.navbar_left {
		margin: 0;
	}

	.navbar_groups {
		margin: 15px 20px;
	}

	.btn_navbar {
		margin-top: 20px;
		margin-left: 0px;
	}
}

/* ============ navbarSM ============ */

@media screen and (min-width: 577px) and (max-width: 768px) {
	.image_navbar {
		width: 225px;
		height: auto;
	}

	.navbar_left {
		margin: 0;
	}

	.navbar_groups {
		margin: 15px 30px;
	}

	.btn_navbar {
		margin-top: 20px;
		margin-left: 0px;
		width: 75%;
	}
}

/* ============ navbarM ============ */

@media screen and (min-width: 769px) and (max-width: 992px) {
	.image_navbar {
		width: 225px;
		height: auto;
	}

	.navbar_left {
		margin: 0;
	}

	.navbar_groups {
		margin: 15px 20px;
	}

	.btn_navbar {
		margin-top: 20px;
		margin-left: 0px;
		width: 60%;
	}
}

/* ============ navbarL ============ */

@media screen and (min-width: 993px) and (max-width: 1200px) {
	.navbar_left {
		margin-left: 0;
	}

	.image_navbar {
		width: 225px;
		height: auto;
	}

	.navbar_groups {
		margin: 0;
		margin-right: 20px;
	}
}
